<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>题库列表</h2>

            <ul class="nav navbar-right panel_toolbox hide">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a></li>
                        <li><a href="#">Settings 2</a></li>
                    </ul>
                </li>

                <li><a class="close-link"><i class="fa fa-close"></i></a></li>

            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <!--<p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->

            <div class="table-responsive">
                <table class="table table-striped table-bordered jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        <!--<th><input type="checkbox" id="check-all" class="flat"></th>-->
                        <th class="column-title">#</th>
                        <th class="column-title">id</th>
                        <th class="column-title">题目</th>
                        <th class="column-title">类型</th>
                        <th class="column-title">创建日期</th>
                        <th class="column-title">答案</th>
                        <th class="column-title">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="even pointer" ng-repeat="q in questions;">
                        <!--<td class="a-center ">-->
                            <!--<input type="checkbox" class="flat" name="table_records">-->
                        <!--</td>-->
                        <td class=" ">{{(paginationConf.currentPage-1) * paginationConf.itemsPerPage + $index +1}}</td>
                        <td class=" ">{{q.question_id}}</td>
                        <td class="col-sm col-sm-7">{{q.title}}</td>

                        <td class=" " ng-if="q.type == 'radio'">单选</td>
                        <td class=" " ng-if="q.type == 'checkbox'">多选</td>
                        <td class=" " ng-if="q.type == 'judge'">判断</td>

                        <td class=" ">{{q.created_at}}</td>
                        <td class=" ">
                            <p ng-repeat="ans in q.answer">{{ans.content}} <i class="glyphicon glyphicon-ok" ng-if="ans.is_right ==1"></i></p>
                        </td>
                        <td class=" last"><a href="#"><button class="btn btn-danger">删除</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>

        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
</div>

<script src="../build/js/custom.min.js"></script>
