<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <ul class="nav navbar-left panel_toolbox">
                <li><button class="btn btn-danger" ng-click="down_user()">同步用户</button></li>
            </ul>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="get_user_list()">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="x_content">

            <!--<p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>-->

            <div class="table-responsive">
                <table class="table table-striped table-bordered jambo_table bulk_action">
                    <thead>
                    <tr class="headings">
                        <th class="column-title">#</th>
                        <th class="column-title">头像</th>
                        <th class="column-title">名字</th>
                        <th class="column-title">编号</th>
                        <th class="column-title">手机</th>
                        <th class="column-title">部门</th>
                        <th class="column-title">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="even pointer" ng-repeat="user in users">
                        <td>{{(paginationConf.currentPage-1) * paginationConf.itemsPerPage + $index +1}}</td>
                        <td><img ng-src="{{user.head}}" style="height:30px;width:30px;"></td>
                        <td>{{user.nick_name}}</td>
                        <td>{{user.user_sn}}</td>
                        <td>{{user.mobile}}</td>
                        <td class=" ">
                            <p ng-repeat="dep in user.departs"><span>{{dep.name}}</span> &nbsp;&nbsp;<span class="btn btn-xs btn-danger" ng-click="quit_department(user.user_sn,dep.id)">移出本部</span></p>

                        </td>
                        <td class=" last">
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
</div>

<script src="../build/js/custom.min.js"></script>
